---
import Spring from "./icons/Spring.astro";
import Docker from "./icons/Docker.astro";
import Postgres from "./icons/Postgres.astro";
import JavaIcon from "./icons/JavaIcon.astro";

const TAGS = {
  SPRING: {
    name: "SpringBoot",
    class: "bg-black text-white",
    icon: Spring,
  },
  POSTGRES: {
    name: "PostgresSQL",
    class: "bg-black text-white",
    icon: Postgres,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-black text-white",
    icon: Docker,
  },
  JAVA: {
    name: "Java",
    class: "bg-black text-white",
    icon: JavaIcon,
  },
};

const PROJECTS = [
  {
    title: "API + JWT",
    description:
      "En este proyecto creé una API que emplea Spring Security para la seguridad y utiliza JSON Web Token para autenticar a los usuarios.",
    github: "https://github.com/luisxsssx/usersFiles",
    image: "/projects/670shots_so.webp",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.POSTGRES, TAGS.DOCKER],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, github }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        src={image}
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
