---
import Spring from "./icons/Spring.astro";
import TypeScript from "./icons/Docker.astro";
import React from "./icons/React.astro";
import JavaIcon from "./icons/JavaIcon.astro";

const TAGS = {
  SPRING: {
    name: "SpringBoot",
    class: "bg-black text-white",
    icon: Spring,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-black text-white",
    icon: TypeScript,
  },
  JAVA: {
    name: "Java",
    class: "bg-black text-white",
    icon: JavaIcon,
  },
};

const PROJECTS = [
  {
    title: "HOME CLOUD",
    description:
      "En el proyecto Home Cloud, estoy a cargo tanto del desarrollo del backend como del frontend. Utilizando Spring Boot para el backend y React para el frontend, aseguro una experiencia de usuario intuitiva en la gestión de archivos en la nube dentro de su entorno local.",
    github: "https://github.com/luisxsssx/usersFiles",
    image: "/projects/frontend.webp",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.REACT, TAGS.TYPESCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, github }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-lg text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        src={image}
        loading="lazy"
        class="rounded-lg shadow-2xl shadow-white/10 aspect-video"
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
